body {
    font-family: Arial;
    margin: 0;
    background-color: #f2f7f2;
}

header {
    background-color: #287a4b;
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #1f6038;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

section {
    background-color: white;
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #287a4b;
}

input,
select,
textarea {
    padding: 10px;
    margin: 6px;
}

textarea {
    width: 90%;
    height: 70px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #287a4b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1f6038;
}

.card {
    display: inline-block;
    width: 25%;
    margin: 10px;
    padding: 15px;
    background-color: #e8f5e9;
    border-radius: 8px;
    vertical-align: top;
}

p {
    color: #333;
}

#registerMsg,
#loginMsg,
#complaintMsg,
#serviceMsg,
#feedbackMsg,
#paymentMsg,
#doctorRegisterMsg,
#doctorLoginMsg,
#doctorMsg {
    color: green;
    font-weight: bold;
}

footer {
    background-color: #1f6038;
    color: white;
    text-align: center;
    padding: 15px;
}