body {
    font-family: Arial;
    margin: 0;
    background: #fff5f7;
}

header {
    background: #d6336c;
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background: #a61e4d;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 20px;
    text-decoration: none;
}

section {
    background: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.product {
    display: inline-block;
    background: #ffe3ec;
    padding: 20px;
    margin: 10px;
    width: 20%;
}

button {
    padding: 10px;
    background: #d6336c;
    color: white;
    border: 0;
    border-radius: 5px;
}